@import url("https://use.typekit.net/jmk3xov.css");
html {
  scroll-behavior: smooth;
}
canvas {
  position: fixed;
  top: 0;
  left: 0;
}


:root {
  --dark-bg: rgba(15, 15, 15, 0.85);
  --spacing: 350px;

  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  overflow-x: hidden;
}

main {
  color: white;
  z-index: 99;
  position: absolute;
  width: 98%;
  margin: 0px auto;
  padding: 120px 0px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);

}

h1,
h2,
h3,
blockquote {
  font-family: elevon, sans-serif;
  font-weight: 700;
  font-style: normal;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

header {
  background: var(--dark-bg);
}

header.header-nav {
  grid-column: 2/span 10;
  padding: 1rem;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.logo {
  width: 2.5rem;
  aspect-ratio: 1;
  border-radius: 50%;
}

header.header-nav nav {
  margin-left: auto;
}

header.header-nav nav ul {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  gap: 2rem;
}

header.header-about {
  grid-column: 2 / span 5;
  font-size: 2.5rem;
  padding: 2rem;
  margin-bottom: var(--spacing);
}

section {
  padding: 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: var(--spacing);
}

blockquote {
  margin: 0;
  padding: 0;
  grid-column: 2 / span 9;
  margin-bottom: var(--spacing);
}

blockquote p {
  color: black;
  background-color: white;
  font-size: 4rem;
  display: inline;
  line-height: 1;
}

#about {
  grid-column: 2/span 8;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-text {
  background: var(--dark-bg);
  padding: 20px;
}

.stage-cube-cont {
  position: relative;
  width: 201px;
  height: 100%;
  overflow: hidden;
  grid-column: 5/-1;
}

.cubespinner {
  animation-name: spincube;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 12s;
  transform-style: preserve-3d;
  transform-origin: 100px 100px 0;
}

.cubespinner div {
  position: absolute;
  width: 200px;
  height: 200px;
  border: 1px solid #ccc;
  background: rgba(255, 255, 255, 0.51);

  font-size: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 20px 0 lightyellow;
}

#Projects {
  grid-column: 2 / span 10;
  background: var(--dark-bg);
}

.project-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
  gap: 25px;
}

.project-item {
  text-align: center;
  position: relative;
}

.project-description {
  position: absolute;
  width: 100%;
  bottom: 2px;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.748);
  opacity: 0;
  transform: translate(0, 20px);
  transition: all 200ms;
}

.project-item:hover .project-description {
  opacity: 1;
  transform: translate(0, 0);
}

.project-image {
  width: 100%;
  height: 155px;
}

.project-item p {
  margin: 0;
  font-size: 1.25rem;
}

.project-web {
  display: flex;
  justify-content: space-around;
}

.left {
  grid-column: 6 / 12;
}



.face1 {
  transform: translateZ(100px);
}

.face2 {
  transform: rotateY(90deg) translateZ(100px);
}

.face3 {
  transform: rotateY(90deg) rotateX(90deg) translateZ(100px);
}

.face4 {
  transform: rotateY(180deg) rotateZ(90deg) translateZ(100px);
}

.face5 {
  transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px);
}

.face6 {
  transform: rotateX(-90deg) translateZ(100px);
}

@keyframes spincube {

  from,
  to {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg)
  }

  16% {
    transform: rotateY(-90deg);
  }

  33% {
    transform: rotateY(-90deg) rotateZ(90deg);
  }

  50% {
    transform: rotateY(-180deg) rotateZ(90deg);
  }

  66% {
    transform: rotateY(-270deg) rotateZ(90deg);
  }

  83% {
    transform: rotateX(90deg) rotateZ(90deg)
  }
}

.fa-html5 {
  color: #f06529
}

.fa-react {
  color: #5ed4f4
}

.fa-css3-alt {
  color: #28a4d9
}

.fa-js {
  color: #efd81d;
}

.fa-git-alt {
  color: #ec4d28;
}

.fa-bootstrap {
  color: #7710f1;
}